# no .a files
*.a

# no .o files
*.o

# *.[oa] could of accomplished above lines

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in build/ directory
build/

